<div class="row">
  <div class="edit col-6 offset-3">
    <h5 class="col-12 mt-3 mb-3 pb-2"><%= t '.title' %></h5>
    <div class="col-12 mt-3 mb-3">
      <%= t '.message' %>
    </div>
    <div class="form col-12 mb-3">
      <%= form_with model:@user, url:password_reset_path(@token), local: true do |f|%>
        <div class="form-group">
          <div class="form-inline">
            <%= f.label :password, class:"col-3 small"%>
            <%= f.password_field :password, class: 'form-control col-9' %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <%= f.label :password_confirmation, class:"col-3 small"%>
            <%= f.password_field :password_confirmation, class: 'form-control col-9' %>
          </div>
        </div>
        <%= f.submit class: "btn btn-outline-primary col-12" %> 
      <% end %>
    </div>
  </div>
</div>