<% if false %>JavaScript読み込み<% end %>
<%= javascript_pack_tag 'movies/index' %>
<% if false %>form読み込み<% end %>
<%= render 'movies/form' %>

<div class="row">
  <div class="shelf col-12 mb-4">
    <% if false %>検索結果一覧表示<% end %>
    <div class="row">
      <% if false %>検索結果がない場合<% end %>
      <% if @search_movies.empty? %>
        <h3 class="col-12 mt-4 mb-4"><span><%= t('.no_search') %></span></h3>
        <div class="line mb-4 col-12"></div>
      <% else %><% if false %>検索結果がある場合<% end %>
        <% i = 0 %>
        <%= while i < @search_movies.count do %>
          <div class="col-6 sample">
            <div class="row">
              <% 12.times do %>
                <% break if @search_movies[i].blank? %>
                <% search_movie = @search_movies[i]['table']%>
                <div class="movie col-1 mt-4 d-flex">
                <div class="top"></div>
                  <div class="ftop pt-1">
                    <% release_date = search_movie['release_date'].blank? ? Date.today : search_movie['release_date'] %>
                  </div>
                  <div class="front d-flex align-items-center justify-content-center">
                    <div class="title" hidden><%= search_movie['title']%></div>
                    <div class="image" hidden><%= "https://image.tmdb.org/t/p/w1280#{search_movie['poster_path']}" %></div>
                    <div class="overview" hidden><%= search_movie['overview']%></div>
                    <div class="id" hidden><%= search_movie['id']%></div>
                    <p class="ellipsis pt-5"><%= search_movie['title']%></p>
                    <% if search_movie['poster_path'] %>
                      <%= image_tag 'https://image.tmdb.org/t/p/w1280' + search_movie['poster_path'], class: "card-img" %>
                    <% else %>
                      <%= image_tag "/images/no_phone.jpg", class: "card-img" %>
                    <% end %>
                  </div>
                </div>
                <% i += 1 %>
              <% end %>
            </div>
          </div>
          <% if i.modulo(24) == 0  || @search_movies[i].blank? %>
            <div class="line col-12 mt-0 pt-0"></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if false %>人気映画表示<% end %>
  <div class="row popular-movies">
  <h3 class="col-12 mt-4 mb-4 pb-3"><span><%= t '.popular_title' %></span></h3>
    <% i = 0 %>
    <% 12.times do %>
      <% popular_movie = @popular_movies[i]['table'] %>
      <div class="front mb-4 col-2 style="width:50px">
        <%= image_tag 'https://image.tmdb.org/t/p/w1280' + popular_movie['poster_path'], class: "card-img" %>
        <div class="foundation col-12"></div>
        <% if false %>JavaScriptで利用する隠し要素読み込み<% end %>
        <%= render 'movies/hidden', movie: popular_movie %>
      </div>
      <% i += 1 %>
    <% end %>
  </div>

  <div class="genre-list col-12 mt-4 pt-4">
  <h3 class="col-12 mb-2 pb-2"><span><%= t '.genre_list_title' %></h3>
    <ul>
      <% @genre_array.each do |key, value|%>
        <li>
        <%= link_to genre_list_path(id: value, name: key) do %>
          <i class="fa-solid fa-star"></i><%= key %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if false %>モーダル読み込み<% end %>
<%= render 'movies/modal' %>