<div class="col-12 show-movie pt-4">
  <div class="row">
    <% if false %>映画詳細表示<% end %>
    <div class="col-6">
      <%= image_tag @movie['poster_path'], class: "card-img" %>
    </div>
    <div class="col-6">
      <div class="row mr-2">
        <h5 class="col-12 pb-2"><%= @movie['title'] %></h5>
        <p class="col-12"><%= @movie['overview'] %></p></p>
        <p class="col-12">
          <%= t '.like' %>
          <% if TmdbBookmark.find_by(user_id: current_user.id, tmdb_id: @movie['id']) %>
            <%= render 'tmdb_bookmarks/tmdb_bookmark', tmdb_id: @movie['id'] %>
          <% else %>
            <%= render 'tmdb_bookmarks/tmdb_unbookmark', tmdb_id: @movie['id'] %>
          <% end %>
        </p>
        <p class="col-12"><%= link_to t('.to_review'), new_movie_tmdb_reviews_path(movie_id: @movie['id']) %></p>
        <% if !@movie['backdrop_path'].blank? %>
          <%= image_tag @movie['backdrop_path'], class: "card-img" %>
        <% end %>
      </div>
    </div>

    <% if false %>レビュー一覧<% end %>
    <div class="tmdb_reviews col-10 offset-1 pt-4 mt-4">
      <h6>レビュー一覧</h6>
      <div class="row mt-4">
        <% @tmdb_reviews.each do |tmdb_review| %>
          <div class="col-2">
            <%= link_to image_tag(tmdb_review.user.avatar.url, class: "mb-1", size: '80x80'), user_path(tmdb_review.user) %>
            <p><%= tmdb_review.user.name %></p>
          </div>
          <div class="tmdb_review col-10 mb-4 border d-flex align-items-center">
            <div class="row">
              <h6 class="col-12"><%= tmdb_review.title %></h6>
              <p class="col-12"><%= tmdb_review.comment %></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <% if false %>コメント一覧<% end %>
    <div class="tmdb_comments col-10 offset-1 pt-4 mt-4">
    <h6>コメント一覧</h6>
      <div class="row mt-4">
        <% @tmdb_comments.each do |tmdb_comment| %>
          <div class="col-2">
            <%= link_to image_tag(tmdb_comment.user.avatar.url, class: "rounded-circle", size: '80x80'), user_path(tmdb_comment.user) %>
            <p><%= tmdb_comment.user.name %></p>
          </div>
          <div class="col-10 mb-5 border d-flex align-items-center">
            <p><%= tmdb_comment.comment %></p>
          </div>
        <% end %>
      </div>
    </div>

    <% if false %>コメントフォーム<% end %>
    <div class="form col-10 offset-1">
      <%= form_with url: movie_tmdb_comments_path(@movie['id']), scope: :tmdb_comment, method: :post, local: true do |f| %>
        <div class="form-group col-12">
          <%= f.text_area :comment, class: 'form-control', placeholder: t('defaults.comment'), rows: "2" %>
        </div>
          <%= f.hidden_field :tmdb_id, :value => @movie['id'], class: 'form-control' %>
        <div class="form-group col-12">
          <%= f.submit t('defaults.comment'), class: 'btn btn-outline-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
