<tr>
  <td>
    <%= link_to user_path(user) do %>
      <%= image_tag user.avatar.url, class: "rounded-circle", size: '80x80' %>
    <% end %>
  </td>
  <td class="align-middle">
    <%= user.name %>
  </td>
  <td class="align-middle">
    <%= user.introduction %>
  </td>
  <% if @user.id == current_user.id %>
    <td class="align-middle">
      <% if @user.relationships.find_by(followed_id: user.id) %>
        <%= render 'relationships/follow', followed_id: user.id %>
      <% else %>
        <%= render 'relationships/unfollow', followed_id: user.id %>
      <% end %>
    </td>
  <% end %>
</tr>
