<div class="row">
  <div class="col-12 user-bookmark">
    <h5 class="col-12 mt-3 mb-3 pb-2"><%= t '.title' %></h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= User.human_attribute_name(:avatar) %></th>
          <th><%= User.human_attribute_name(:name) %></th>
          <th><%= User.human_attribute_name(:introduction) %></th>
          <% if @main_user.id == current_user.id %>
            <th><%= t 'defaults.bookmark' %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <%= render partial: "relationships/user", collection: @users %>
      </tbody>
    </table>
  </div>
</div>