<div class="user-edit col-12">
  <h5 class="col-12 mt-3 mb-3 pb-3"><%= t '.title' %></h5>
  <div class="form col-12">
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages', {object: f.object} %>
      <div class="form-group">
        <div class="form-inline">
          <%= f.label :name ,class: "col-3 p-4 m-0"%>
          <%= f.text_field :name, class: 'form-control col-7 offset-1' , maxlength: "20" %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <%= f.label :email, class: "col-3 p-4 m-0"%>
          <%= f.email_field :email, class: 'form-control col-7 offset-1' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <%= f.label :birth_date, class: "col-3 p-4 mr-5"%>
          <%= f.date_select :birth_date, start_year: 1930, end_year: (Time.now.year - 10), class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <%= f.label :gender, class: "col-3 p-4 mr-5"%>
          <%= f.select :gender, User.genders_i18n.keys.map {|k| [User.genders_i18n[k], k]}, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <%= f.label :introduction, class: "col-3 p-4 m-0"%>
          <%= f.text_area :introduction, class: 'form-control col-7 offset-1', maxlength: "40" %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline form-inline-last">
          <%= f.label :avatar ,class: "col-3 p-4 m-0"%>
          <%= f.file_field :avatar, class: 'form-control col-7 offset-1' %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>
      <div class="avatar-image mt-3">
        <%= image_tag @user.avatar.url, class: "mb-3", size: '200x200' if @user.avatar? %>
      </div>
      <div class="form-group mb-3">
      <%= f.submit t('defaults.edit'), class: 'col-4 offset-4 btn-block p-2' %>
      </div>
    <% end %>
  </div>
</div>