<div class="row">
  <div class="col-12 user-index">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= User.human_attribute_name(:avatar) %></th>
          <th><%= User.human_attribute_name(:name) %></th>
          <th><%= User.human_attribute_name(:introduction) %></th>
          <th><%= t 'defaults.bookmark' %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "users/user", collection: @users %>
      </tbody>
    </table>
    <div class="col-12">
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>

