<div class="tmdb-review-new col-12">
  <h5 class="col-12 mt-3 mb-3 pb-3"><%= t '.title' %></h5>
  <div class="col-4 offset-4 mb-3">
    <%= image_tag @movie['poster_path'], class: "card-img" %>
  </div>
  <div class="col-12 mb-3">
    <h5 class="col-12 pb-3"><%= @movie['title'] %></h5>
  </div>
  <div class="form col-12">
    <%= form_with model: @tmdb_review, url: movie_tmdb_reviews_path, local: true do |f| %>
      <div class="form-group">
        <div class="form-inline">
          <%= f.label :title ,class: "col-3 p-4 m-0"%>
          <%= f.text_field :title, class: 'form-control col-7 offset-1' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline">
          <%= f.label :comment ,class: "label-comment col-3"%>
          <%= f.text_area :comment, class: 'form-control col-7 offset-1 mt-3 mb-3' %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-inline form-inline-last">
          <%= f.label :movie_state_name_id ,class: "col-3 p-4 mr-5"%>
          <%= f.collection_select :movie_state_name_id, MovieStateName.all, :id, :name, class: 'form-control col-7 offset-1' %>
        </div>
      </div>
      <div class="form-group mt-3 mb-3">
        <%= f.submit t('.update'), class: 'col-4 offset-4 btn-block p-2' %>
      </div>
      <div class="form-group mt-3 mb-3">
        <%= link_to t('.destroy'), movie_tmdb_reviews_path, method: :delete %>
      </div>
    <% end %>
  </div>
</div>